<a href="https://colab.research.google.com/github/khairunnisaqilla/Pejuang_Data_3/blob/main/M1P2V2_Variabel_dan_Tipe_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variabel & Tipe Data

## Variabel

Variables : Lokasi penyimpanan yang dapat digunakan untuk menampung sebuah data atau informasi.

Syarat-syarat penamaan variabel
1. Karakter-karakter yang digunakan untuk penamaan variable adalal alphabet, angka dan underscore.
2. Karakter pertama variable harus berupa huruf atau garis bawah/underscore, dan tidak bisa berupa angka.
3. Nama sebuah variabel tidak bisa menggunakan keyword atau reserved words dari bahasa python seperti for, if dan lainnya.
4. Karakter pada nama variabel bersifat sensitif (case-sensitif).

In [ ]:
# Membuat variabel
kalimat = 'ini adalah variabel'
bilangan1 = 4
bilangan2 = 2.5
bilangan3 = True
bilangan4 = 1j + 4

In [ ]:
# Menampilkan variabel
print(kalimat)
print(bilangan1)
print(bilangan2)

ini adalah variabel
4
2.5

#### **Latihan 1**

In [ ]:
# Buatlah 5 variabel kalian sendiri dengan 5 macam tipe data
# lalu tampilkan variabel menggunakan fungsi print

a = False
b = 19
c = 23.3
d = 2 + 3j
e = "saya mahasiswi"

## Tipe Data

5 tipe data yaitu
1. Integer atau bilangan bulat
2. Float atau bilangan desimal
3. String atau kalimat
4. Boolean yang terdiri dari True dan False
5. Complex yang merupakan bilangan kompleks

In [ ]:
# Menampilkan tipe data
print(type(kalimat))
print(type(bilangan1))
print(type(bilangan2))
print(type(bilangan3))
print(type(bilangan4))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

#### **Latihan 2**

In [ ]:
# Cek tipe data variabel yang telah kalian buat pada latihan 1
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'bool'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>

## Konversi Tipe Data

Syntax konversi tipe data
1. Integer = int()
2. Float = float()
3. String = str()
4. Boolean = bool()
5. Complex = complex()

In [ ]:
# Konversi tipe data integer
print(int(bilangan2))
print(int(bilangan3))

2
1

In [ ]:
# Konversi tipe data float
print(float(bilangan1))
print(float(bilangan3))

4.0
1.0

In [ ]:
# Konversi tipe data string
print(str(bilangan1))
print(str(bilangan2))
print(str(bilangan3))

4
2.5
True

In [ ]:
# Konversi tipe data bool
print(bool(bilangan1))
print(bool(bilangan2))

True
True

In [ ]:
# Konversi tipe data complex
print(complex(bilangan1))
print(complex(bilangan2))
print(complex(bilangan3))

(4+0j)
(2.5+0j)
(1+0j)

#### **Latihan 3**

In [ ]:
# konversi tipe data variabel yang telah kalian buat
# menjadi berbagai macam tipe data

In [ ]:
# Konversi tipe data integer
print(int(a))
print(int(c))

0
23

In [ ]:
# Konversi tipe data float
print(float(a))
print(float(b))
print(float(c))

0.0
19.0
23.3

In [ ]:
# Konversi tipe data string
print(str(a))
print(str(b))
print(str(c))
print(str(d))

False
19
23.3
(2+3j)

In [ ]:
# Konversi tipe data bool
print(bool(a))
print(bool(c))
print(bool(d))

False
True
True

In [ ]:
# Konversi tipe data complex
print(complex(a))
print(complex(b))
print(complex(c))

0j
(19+0j)
(23.3+0j)