<a href="https://colab.research.google.com/github/khairunnisaqilla/Pejuang_Data_3/blob/main/M2P1V3_Struktur_Data_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Struktur Data Tuple

Tuple adalah jenis dari struktur data yang tidak dapat diubah elemennya. Umumnya Tuple digunakan untuk data yang bersifat sekali tulis dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma.

In [13]:
#Contoh Tuple
T1 = (1,"dua", True, 1+2j)
print("Ini adalah Tuple", T1)

Ini adalah Tuple (1, 'dua', True, (1+2j))

In [14]:
#Menampilkan tipe struktur data
type(T1)

tuple

#### Latihan 1

In [15]:
#Buatlah Tuplemu sendiri
A = ("Python", 41, 20.4, False, 2+3j)
print(A)

('Python', 41, 20.4, False, (2+3j))

## Sifat-Sifat Tuple

In [16]:
#Terurut/Ordered
T1[0:3]

(1, 'dua', True)

In [24]:
#Tidak Bisa Diganti/Immutable
T1[2] = "manusia"

TypeError: ignored

In [19]:
#Dapat Diindeks/Slicing
print("elemen kedua dari Tuple T1 adalah:", T1[1])

elemen kedua dari Tuple T1 adalah: dua

In [20]:
#Dapat diizinkan Duplikasi
T2 = (3, 2.4, True, 2.4)
T2

(3, 2.4, True, 2.4)

## Menggabungkan Tuple

In [21]:
#Menggabungkan Tuple
T3 = T1 + T2
T3

(1, 'dua', True, (1+2j), 3, 2.4, True, 2.4)

#### Latihan 2

In [25]:
#Buatlah Tuple kedua lalu gabungkan 2 Tuple yang telah kamu buat
B = (41, "saya", True, 3+5j, 56.3) 

C = A + B
print(C)

('Python', 41, 20.4, False, (2+3j), 41, 'saya', True, (3+5j), 56.3)