<a href="https://colab.research.google.com/github/khairunnisaqilla/Pejuang_Data_3/blob/main/M2P2V3_Konversi_Struktur_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Konversi Struktur Data

Fungsi untuk mengubah/konversi struktur data:

a. ```list()``` : untuk mengubah menjadi list

b. ```tuple()``` : untuk mengubah menjadi tuple

c. ```set()``` : untuk mengubah menjadi set

d. ```dict()``` : untuk mengubah menjadi dictionary

## Mengkonversi tipe data list:

In [ ]:
# membuat 2 list
L1 = [1,2,3,4]
L2 = [5,6,7,8]

In [ ]:
# Mengkonversi struktur data list
k_tuple = tuple(L1)
k_set = set(L2)
k_dict = dict(zip(L1,L2))

# Melihat data yang telah dikonversi
print(k_tuple)
print(k_set)
print(k_dict)

(1, 2, 3, 4)
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

## Mengkonversi tipe data tuple:

In [ ]:
# Membuat dua tuple
T1 = (1,2,3,4)
T2 = (5,6,7,8)

In [ ]:
# Menkonversi struktur data tuple
k_list = list(T1)
k_set = set(T2)
k_dict = dict(zip(T1,T2))

# Melihat data yang telah dikonversi
print(k_list)
print(k_set)
print(k_dict)

[1, 2, 3, 4]
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

## Mengkonversi tipe data set:

In [ ]:
# Membuat dua set
S1 = {1,2,3,4}
S2 = {5,6,7,8}

In [ ]:
# Mengkonversi struktur data set
k_list = list(S1)
k_tuple = tuple(S2)
k_dict = dict(zip(S1, S2))

# Melihat dta yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_dict)

[1, 2, 3, 4]
(8, 5, 6, 7)
{1: 8, 2: 5, 3: 6, 4: 7}

## Mengkonversi tipe data dictionary:

In [ ]:
# Membuat dictionary
D = {
    "nama" : "Andi",
    "alamat" : "Yogyakarta",
    "umur" : 20
}

In [ ]:
# Mengkonversi struktur data dictonary dari key dan value-nya
k_list = list(D.keys())
k_tuple = tuple(D.values())
k_set = set(D.keys())

print(k_list)
print(k_tuple)
print(k_set)

['nama', 'alamat', 'umur']
('Andi', 'Yogyakarta', 20)
{'nama', 'umur', 'alamat'}

#### Latihan

In [ ]:
# Lakukan konversi struktur data yang kalian buat pada notebook-notebook 
# sebelumnya menjadi list, tuple, set, dan dictionary (masing-masing satu)

In [ ]:
A = ["usia", 21, True, 1+2j]
B = [10, "nomer", False, "kompleks"]

# Konversi tipe data list
k_tuple = tuple(B)
k_set = set(A)
k_dict = dict(zip(A,B))

# Melihat data yang telah dikonversi
print(k_tuple)
print(k_set)
print(k_dict)

(10, 'nomer', False, 'kompleks')
{True, 'usia', 21, (1+2j)}
{'usia': 10, 21: 'nomer', True: False, (1+2j): 'kompleks'}

In [ ]:
A = ("Python", 41, 20.4, False, 2+3j)
B = (41, "saya", True, 3+5j, 56.3)

# Konversi tipe data tuple
k_list = list(A)
k_set = set(B)
k_dict = dict(zip(A,B))

# Melihat data yang telah dikonversi
print(k_list)
print(k_set)
print(k_dict)

['Python', 41, 20.4, False, (2+3j)]
{True, 41, (3+5j), 'saya', 56.3}
{'Python': 41, 41: 'saya', 20.4: True, False: (3+5j), (2+3j): 56.3}

In [ ]:
S1 = {21, False, True, 2+5j, 2+5j, 20.5}
S2 = {False, 2+7j, 'aku', 99}

# Konversi tipe data set
k_list = list(S2)
k_tuple = tuple(S1)
k_dict = dict(zip(S2, S1))

# Melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_dict)

[False, 99, 'aku', (2+7j)]
(False, True, (2+5j), 20.5, 21)
{False: False, 99: True, 'aku': (2+5j), (2+7j): 20.5}

In [ ]:
D1 = {'pejuang data':3,'kelas':'dasar','aplikasi':'python'}

# Konversi tipe data dictionary
k_list = list(D1.values())
k_tuple = tuple(D1.keys())
k_set = set(D1.keys())

# Melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_set)

[3, 'dasar', 'python']
('pejuang data', 'kelas', 'aplikasi')
{'pejuang data', 'aplikasi', 'kelas'}